# 1. What file formats can Pandas work with?

- Pandas can work with csv, Excel, JSON, SQL, HTML, Parquet, Pickle and etc.
- The functions used are
- 1- pd.read_csv()
- 2- pd.read_excel()
- 3- pd.read_json()
- 4- pd.read_sql()
- 5- pd.read_html()
- 6- pd.read_parquet()
- 7- pd.read_pickle()

# 2. Create a DataFrame and save it to a CSV file ?

Create the following DataFrame and save it as employees.csv:

	data = {
    'Name': [Moses', 'Marry', ‘Charlie’],
    'Department': ['HR', 'Finance', 'IT'],
    'Salary': [50000, 60000, 55000]
}

In [22]:
import numpy as np

data = {
    'Name': ['Moses', 'Marry', 'Charlie'],
    'Department': ['HR', 'Finance', 'IT'],
    'Salary': [50000, 60000, 55000]
}
df_data=pd.DataFrame(data)
df_data.to_csv("employees.csv",index=False)

# 3. Read the employees.csv file and print its contents

In [27]:
import pandas as pd
df_emp=pd.read_csv("employees.csv")
df_emp

      Name Department  Salary
0    Moses         HR   50000
1    Marry    Finance   60000
2  Charlie         IT   55000

# 4. Create a DataFrame and save it to an Excel file.

Create the dataframe and save it to products.xlsx:


products = {
    'Product': ['Laptop', 'Tablet', 'Phone'],
    'Price': [700, 300, 500],
    'Stock': [50, 150, 100]
}

In [34]:
products = {
    'Product': ['Laptop', 'Tablet', 'Phone'],
    'Price': [700, 300, 500],
    'Stock': [50, 150, 100]
}

df_prod=pd.DataFrame(products)
df_prod.to_excel("products.xlsx",index=False)

# 5. Read the products.xlsx file and print the DataFrame.

In [37]:
import pandas as pd
df_p=pd.read_excel("products.xlsx")
df_p

  Product  Price  Stock
0  Laptop    700     50
1  Tablet    300    150
2   Phone    500    100

# 6. Create a DataFrame and save it to a JSON file

Use this data and save it as students.json:


students = {
    'Name': ['David', 'Eva'],
    'Age': [21, 22],
    'Grade': ['A', 'B']
}

In [60]:
import pandas as pd

students = {
    'Name': ['David', 'Eva'],
    'Age': [21, 22],
    'Grade': ['A', 'B']
}

df_stud=pd.DataFrame(students)
df_stud.to_json("students.json",index=False)

# 7. Read the students.json file and display its contents

In [62]:
import pandas as pd
df_j=pd.read_json('students.json')
df_j

    Name  Age Grade
0  David   21     A
1    Eva   22     B

# 8. Save only the Name and Salary columns from employees.csv to a new file name_salary.csv

In [79]:
import pandas as pd

In [81]:
new_frame=df_emp[['Name','Salary']]
new_frame.to_csv("name_salary.csv",index=False)

# 9. Save the products DataFrame to a CSV file without the index column.

Save it as products_clean.csv.

In [90]:
df_prod.to_csv("without_index_col.csv",index=False)

# 10. In a markdown cell, explain the difference between:

to_csv() vs to_excel()

read_csv() vs read_excel()

# to_csv()-
- Saves a DataFrame as a csv(.csv) file
  
Example- 
- df.to_csv("data.csv", index=False)

# read_excel()-
- Reads data from an Excel file(.xlsx or .xls) into a DataFrame
- Syntax-
- pd.read_excel("data.xlsx")

# to_excel()-

- Saves a DataFrame as a Excel(.xlsx) file

- Example-

- df.to_excel("data.xlsx", index=False)

# read_csv()-
- Reads data from an csv file(.csv) into a DataFrame
- Syntax-
- pd.read_csv("data.csv")